<div
  class="flex-col items-center gap-6 px-6 pt-6 lg:flex lg:w-full lg:flex-row lg:justify-evenly lg:px-32"
>
  <div class="flex flex-col gap-6 lg:flex-row">
    <div class="space-y-6">
      <div class="flex flex-col gap-6">
        <div class="text-[32px] font-light text-neutral-900 md:text-[64px]">
          Olá
          <span class="font-bold text-neutral-800">{{ userInfo.name }}</span>
        </div>
        <div
          class="space-y-1 text-lg font-[400] text-neutral-600 md:text-[32px]"
        >
          <div>
            Vamos dar um
            <span class="text-primary-500 font-bold">helpinho</span> hoje?
          </div>

          <div>Separamos uma seleção especial para você.</div>
        </div>
      </div>
      <div
        *ngIf="helpinhos()"
        class="pe-auto me-auto flex rounded-[20px] bg-white bg-opacity-40 lg:inline-flex"
      >
        <div class="px-3 py-4 lg:px-6">
          <div class="text-xl font-normal text-neutral-600">Acompanhando</div>
          <div>
            <span class="text-primary-600 text-2xl font-semibold">{{
              helps()?.length || 0
            }}</span>
            <span class="mx-1 text-xl font-normal text-neutral-600"
              >Helpinhos</span
            >
          </div>
        </div>
        <div class="px-6 py-4">
          <div class="text-xl font-normal text-neutral-600">Criou</div>
          <div>
            <span class="text-primary-600 text-2xl font-semibold">
              {{ helps()?.length || 0 }}</span
            >
            <span class="mx-1 text-xl font-normal text-neutral-600"
              >Helpinhos</span
            >
          </div>
        </div>
      </div>
      <div *ngIf="!helpinhos()" class="my-4 flex w-full justify-center">
        <app-spinner />
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <img
      class="clipped-bg my-4 max-h-[250px] lg:max-h-[500px]"
      src="/helpbg.png"
    />
  </div>
</div>
