<div
  class="flex flex-col gap-6 px-6 pt-6 lg:flex-row lg:justify-center lg:px-32"
>
  <div class="flex flex-col gap-6">
    <div class="flex flex-col gap-6">
      <div
        class="me-auto flex gap-6 rounded-2xl bg-white bg-opacity-40 px-5 py-3 text-lg text-neutral-700"
      >
        <div
          class="text-primary-700 flex items-center gap-2 lg:text-neutral-700"
        >
          <img class="size-5" src="/checkmark.png" />Registro Grátis
        </div>
      </div>
      <div class="text-[32px] font-light text-neutral-900 md:text-[64px]">
        Faça a diferença com apenas
        <div class="text-primary-500 font-bold">um helpinho</div>
      </div>
      <div class="font-[300] text-neutral-700 md:text-[32px]">
        Os helpinhos podem parecer pequenos, mas juntos fazemos
        <div class="text-primary-500 font-bold">diferença na vida de todos</div>
      </div>
    </div>
    <app-button href="/auth/register">Registre-se Grátis</app-button>
  </div>
</div>
