<div class="flex flex-col lg:h-full lg:bg-[#f9fafb]">
  <app-navbar />
  <div
    class="px-auto flex-col gap-4 divide-x rounded-xl border-neutral-100 bg-transparent pt-4 lg:mx-auto lg:flex lg:flex-row lg:border lg:pb-4"
  >
    @for (step of steps; track step.id; let index = $index) {
      <div
        [ngClass]="{
          'flex items-center gap-4 ps-4': true,
          'pe-4': steps.length - 1 === index
        }"
      >
        <div
          [ngClass]="{
            'size-12 items-center justify-center rounded-full': true,
            'bg-primary-600 flex shadow-lg': index === activeStep(),
            'hidden bg-neutral-50 lg:flex': index !== activeStep()
          }"
        >
          {{ index + 1 }}
        </div>
        <div *ngIf="index === activeStep()" class="flex flex-col">
          <div class="text-primary-500 text-sm font-bold">
            Passo {{ index + 1 }}/{{ steps.length }}
          </div>
          <div class="text-neutral-800">{{ step.name }}</div>
        </div>
      </div>
    }
  </div>
  <div
    class="mt-4 flex w-full grow flex-col justify-between px-4 lg:bg-[#f9fafb] lg:px-36"
  >
    <!-- Ensuring the outer div has enough height -->
    <div
      [formGroup]="helpinhoForm"
      class="bg-white-200 grow rounded-xl p-6 lg:bg-white"
    >
      <div *ngIf="activeStep() === 0">
        <app-helpinhos-categories [formGroup]="helpinhoForm" />
      </div>
      <div *ngIf="activeStep() === 1">
        <app-helpinhos-info [formGroup]="helpinhoForm" />
      </div>
      <div *ngIf="activeStep() === 2">
        <app-helpinhos-goals [formGroup]="helpinhoForm" />
      </div>
      <div *ngIf="activeStep() === 3">
        <app-helpinhos-review [formGroup]="helpinhoForm" />
      </div>
    </div>
    <div class="flex justify-end gap-4 py-8">
      <p *ngIf="error" class="mt-2 text-sm text-red-600">
        {{ error }}
      </p>
      <app-button
        (click)="previousStep()"
        color="neutral"
        variant="light"
        class="rounded-lg"
        >Voltar</app-button
      ><app-button (click)="nextStep()" class="rounded-lg"
        >Continuar</app-button
      >
    </div>
  </div>
</div>
