<div
  class="mx-auto flex h-full flex-col items-center justify-center gap-6 lg:flex lg:flex-row"
>
  <div
    class="-ms-12 mb-auto flex max-w-[265px] items-start gap-2 text-wrap lg:ms-0"
  >
    <div class="text-primary-500 text-4xl font-bold">1.</div>
    <div>
      <div class="text-primary-950 text-sm font-bold">Escolha</div>
      <div class="text-base font-normal text-neutral-400 lg:text-base">
        Escolha um helpinho que deseja ajudar.
      </div>
    </div>
  </div>
  <div
    class="-ms-8 mb-auto flex max-w-[265px] items-start gap-2 text-wrap lg:ms-0"
  >
    <div class="text-primary-500 text-4xl font-bold">2.</div>
    <div>
      <div class="text-primary-950 text-sm font-bold">Doe</div>
      <div class="text-base font-normal text-neutral-400 lg:text-base">
        O valor é você quem decide e ele vai
        <span class="text-primary-500">todo</span> para quem escolher.
      </div>
    </div>
  </div>
  <div
    class="-ms-4 mb-auto flex max-w-[265px] items-start gap-2 text-wrap lg:ms-0"
  >
    <div class="text-primary-500 text-4xl font-bold">3.</div>
    <div>
      <div class="text-primary-950 text-sm font-bold">Aproveite</div>
      <div class="text-base font-normal text-neutral-400 lg:text-base">
        Doar gera felicidade em você e pra quem recebeu.
      </div>
    </div>
  </div>
  <div
    class="mb-auto ms-0 flex max-w-[265px] items-start gap-2 text-wrap lg:ms-0"
  >
    <div class="text-primary-500 text-4xl font-bold">4.</div>
    <div>
      <div class="text-primary-950 text-sm font-bold">Acompanhe</div>
      <div class="text-base font-normal text-neutral-400 lg:text-base">
        Fique ligado, e veja se o helpinho acançou o objetivo.
      </div>
    </div>
  </div>
</div>
